<html>
  <head>
    <!-- freshworks crayons js -->
    <script
      type="module"
      src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <!-- fresh client js -->
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
  </head>
  <body>
    <section id="app-body">
      <transition name="fade">
        <div class="py-4" v-if="showAddLinkForm">
          <h4>Add a link</h4>
          <fw-input
            type="text"
            placeholder="Title"
            :value="newTitle"
            @input="newTitle = $event.target.value"
          >
          </fw-input>
          <fw-input
            type="text"
            placeholder="Link"
            :value="newLink"
            @input="newLink = $event.target.value"
          >
          </fw-input>
          <div class="flex justify-end mt-2">
            <fw-button
              class="self-end mr-2"
              name="plus"
              color="text"
              @click="showAddLinkForm = false; clearinput"
              >Cancel</fw-button
            >
            <fw-button
              class="self-end"
              name="plus"
              color="primary"
              @click="saveLink"
              >Save</fw-button
            >
          </div>
        </div>
      </transition>
      <div class="flex justify-between mb-2" v-if="!showAddLinkForm">
        <div class="title">Your Links</div>
        <fw-button color="secondary" @click="showAddLinkForm = true"
          >+ Add a link</fw-button
        >
      </div>
      <transition name="fade">
        <div v-if="links.length !== 0">
          <div class="card" v-for="link, index in links">
            <div class="flex justify-between mb-1">
              <div class="card-title">{{ link.title }}</div>
              <div class="flex">
                <fw-icon
                  name="copy"
                  size="14"
                  color="grey"
                  class="icon-copy mr-2"
                  :aria-label="link.url"
                ></fw-icon>
                <fw-icon
                  name="delete"
                  size="14"
                  color="grey"
                  @click="deleteLink(index)"
                ></fw-icon>
              </div>
            </div>
            <a
              class="card-url"
              :href="link.url"
              :aria-label="link.url"
              target="_blank"
              >{{ link.url }}</a
            >
          </div>
        </div>
        <div v-else class="flex justify-center pt-10">No links to show</div>
      </transition>
    </section>
    <!-- vuejs 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.20/dist/vue.global.min.js"></script>
    <!-- clipboard js -->
    <script
      src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"
      integrity="sha256-Eb6SfNpZyLYBnrvqg4KFxb6vIRg+pLg9vU5Pv5QTzko="
      crossorigin="anonymous"
    ></script>
    <script src="scripts/app.js"></script>
  </body>
</html>
